* {
	padding: 0;
	margin: 0;
}

.resume-box .resume-userinfo .item-primary {
	padding-top: 0;
	padding-bottom: 25px;
}

.resume-box .info-flex {
	display: flex;
}

.resume-box .info-flex-item {
	flex: 1;
}

.resume-box .item-primary .name {
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 20px;
}

.resume-box .item-primary .name .icon-svg {
	width: 24px;
	height: 24px;
}

.resume-box .item-primary .info-labels p {
	margin-top: 10px;
}

.resume-box .prev-line {
	max-width: 250px;
}

.prev-line {
	display: inline-block;
	vertical-align: middle;
	max-width: 140px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.fz-experience {
	background-position: 4px -477px;
}

.fz-resume {
	width: 24px;
	height: 24px;
	background: url(https://static.zhipin.com/zhipin-geek/v193/web/geek-vue/static/images/icons-resume.f44cb025.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
}

.resume-box .item-primary .op {
	position: absolute;
	display: block;
	right: 3px;
	bottom: 25px;
}
